@import './vars.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

::after, ::before, h1, h2, h3, h4, h5, h6, p, li, img, ul{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
}

.wrapper{
    min-height: 100vh;
    width: 80%;

    @media screen and (max-width: 1024px) {
        &{
            width: 100%;
        }
        &.fixed{
            position: fixed;
        }
    }

    @media screen and (min-width: $min-width-sm) and (max-width: $max-width-sm){
        &.fixed{
            display: none;
        }
    }

    @media screen and (max-width: $max-width-xs){
        &.fixed{
            display: none;
        }
    }
}

a{
    text-decoration: none;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
    border-radius: $base;
    transition: all .2s ease-in;
    padding: $base*2 $base*5; 
}

@import './components/aside.scss';
@import './components/main/main-section.scss';

